:root{
    --main-font: 'Segoe', sans-serif;
    --main-bg-color: #fff;
    --brew-bg-color: #f7f7f7;
    --main-text-color: #000;
    --medium-text-color: #3D3D3D;
    --light-medium-text-color: #707070;
    /* #707070 */
    --light-text-color: #afafaf;
/* rename the secondary ones */
    --dark-secondary-color: #2f4442;
    --light-secondary-color: #cdcbbf;
    --accent-color: #fff782;
    --shadow-color: #9E9E9E57;
    --dark-theme-text-color: #5D78BD;
    --like-color: #BC5A40;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

img {
    width: 100%;
}

.home, .faves, .new-brew {
    padding: 2.5rem 1.5rem;
}

.home >  header, .faves  > header, .new-brew > header {
    margin-bottom: 4rem;
}

/* font-weight 400 */
header > h3,
.coffee h3,
.coffee h4 {
  font-weight: 400;
}

/* .content-wrapper padding */
.content-wrapper {
    padding: 1.8rem;
}

  /* brew icon */
.brew-method-icon,
.method-svg {
  width: 35px;
  height: 60px;
  /* margin-right: 2rem; */
}

  /* curser */

  .coffee, button, .fave {
    cursor: pointer;
  }


  /* sr-only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }