:root{
    --main-font: 'Segoe', sans-serif;
    --main-bg-color: #fff;
    --brew-bg-color: #f7f7f7;
    --main-text-color: #000;
    --medium-text-color: #3D3D3D;
    /* #707070 */
    --light-text-color: #afafaf;
/* rename the secondary ones */
    --dark-secondary-color: #2f4442;
    --light-secondary-color: #cdcbbf;
    --accent-color: #fff782;
    --shadow-color: #9E9E9E57;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

.home, .faves {
    padding: 2.5rem 1.5rem;
}

.home  h1, .faves  h1 {
    margin-bottom: 4rem;
}