@media screen and (min-width: 400px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #app {
        width: 400px;
    }
}

@media screen and (min-width: 650px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #app {
        max-width: 400px;
    }
}